/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* jquery.fancybox */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("http://www.youravon.com/REPSuite/static/images/fancyBox/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("http://www.youravon.com/REPSuite/static/images/fancyBox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("http://www.youravon.com/REPSuite/static/images/fancyBox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("http://www.youravon.com/REPSuite/static/images/fancyBox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("http://www.youravon.com/REPSuite/static/images/fancyBox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("http://www.youravon.com/REPSuite/static/images/fancyBox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/* line 1, ../sass/flipster_navtabs.scss */
.clearfix {
  *zoom: 1;
}

/* line 5, ../sass/flipster_navtabs.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 10, ../sass/flipster_navtabs.scss */
.clearfix:after {
  clear: both;
}

/* line 13, ../sass/flipster_navtabs.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 20, ../sass/flipster_navtabs.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}

/* @group flipster Navigation */
/* line 29, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav {
  display: block;
  background: #da0d25;
  height: 25px;
  font-size: 0.0px;
  margin: 0;
  padding: 5px 5px 0;
  text-align: justify;
  margin-bottom: 52px;
  position: relative;
  border-bottom: solid 2px #da0d25;
  list-style-type: none;
}

/* line 42, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 47, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav li {
  display: inline-block;
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 56, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav .flip-nav-category,
.flipster .flipster-nav .no-category {
  width: 25%;
}

/* line 60, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav .flip-nav-category-link,
.flipster .flipster-nav .flip-nav-item-link {
  display: block;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

/* line 69, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav .flip-nav-category-link,
.flipster .flipster-nav .no-category .flip-nav-item-link {
  border: solid 2px transparent;
  height: 23px;
  line-height: 25px;
  color: #ffffff;
  padding: 1px 7px;
  font-size: 0.8em;
}

/* line 78, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav .flip-nav-current .flip-nav-category-link,
.flipster .flipster-nav .no-category .flip-nav-current.flip-nav-item-link {
  border-color: #da0d25;
  border-bottom: none;
  background: #ffffff;
  color: #000000;
}

/* line 84, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav .flip-nav-category .flip-nav-items {
  display: none;
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px 0;
  height: 32px;
}

/* line 94, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav .flip-nav-category .flip-nav-items:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 99, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav .flip-nav-category .flip-nav-items .flip-nav-item-link {
  padding: 5px 15px;
  color: #da0d25;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 16px;
}

/* line 106, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav .flip-nav-category .flip-nav-items .flip-nav-item-link.flip-nav-current {
  background: #da0d25;
  color: #FFF;
}

/* line 110, ../sass/flipster_navtabs.scss */
.flipster .flipster-nav .flip-nav-category.flip-nav-current .flip-nav-items {
  display: block;
}

/* @end */
/* @group Previous & Next Buttons */
/* line 117, ../sass/flipster_navtabs.scss */
.flipster .flipto-prev {
  position: absolute;
  top: 30%;
  z-index: 999;
  display: block;
  padding: 10px;
  margin-top: 25px;
  width: 23px;
  height: 45px;
  background: url("http://www.youravon.com/REPSuite/static/images/flipster_nav/left_arrow.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
}

/* line 138, ../sass/flipster_navtabs.scss */
/* line 132, ../sass/flipster_navtabs.scss */
.flipster .flipto-next {
  position: absolute;
  top: 30%;
  z-index: 999;
  display: block;
  padding: 10px;
  margin-top: 25px;
  width: 23px;
  height: 45px;
  background: url("http://www.youravon.com/REPSuite/static/images/flipster_nav/right_arrow.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
}

/* line 147, ../sass/flipster_navtabs.scss */
.flipster .flipto-prev:hover,
.flipster .flipto-next:hover {
  background-color: #FFF;
  color: #da0d25;
}

/* line 151, ../sass/flipster_navtabs.scss */
.flipster .flipto-prev {
  left: 50px;
}

/* line 154, ../sass/flipster_navtabs.scss */
.flipster .flipto-next {
  right: 50px;
}

/* line 158, ../sass/flipster_navtabs.scss */
.flipster {
  overflow-x: visible;
  max-width: 500px;
}

/* @end */
/* @group Base Flipster Styles */
/* line 2, ../sass/jquery.flipster.scss */
.flipster {
  display: block;
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

/* line 11, ../sass/jquery.flipster.scss */
.flip-items,
.flip-item {
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

/* line 17, ../sass/jquery.flipster.scss */
.flip-items {
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: content-box;
}

/* line 36, ../sass/jquery.flipster.scss */
.flip-item {
  position: absolute;
  opacity: 0.99;
  /* Fix for strange clipping behavior on rotated elements in Chrome. */
}

/* line 45, ../sass/jquery.flipster.scss */
.flip-past,
.flip-future,
.flip-next,
.flip-prev {
  cursor: pointer;
}

/* line 48, ../sass/jquery.flipster.scss */
.flip-item img {
  display: block;
  width: 100%;
}

/* @end */
/* @group Coverflow Style */
/* line 54, ../sass/jquery.flipster.scss */
.flipster-coverflow .flip-items {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  position: relative;
  padding-top: 2%;
  padding-bottom: 5%;
}

/* line 64, ../sass/jquery.flipster.scss */
.flipster-coverflow .flip-item {
  display: block;
  -webkit-transition: all 175ms ease-in-out;
  transition: all 175ms ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-perspective: 800px;
  perspective: 800px;
  position: absolute;
  width: 30%;
}

/* line 82, ../sass/jquery.flipster.scss */
.flipster-coverflow .flip-content {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgba(255, 255, 255, 0.12)), color-stop(0.2, transparent));
}

/* line 90, ../sass/jquery.flipster.scss */
.flipster-coverflow .flip-past .flip-content {
  -webkit-transform: rotateY(55deg) scale(0.75);
  -ms-transform: rotateY(55deg) scale(0.75);
  transform: rotateY(55deg) scale(0.75);
}

/* line 97, ../sass/jquery.flipster.scss */
.flipster-coverflow .flip-future .flip-content {
  -webkit-transform: rotateY(-55deg) scale(0.75);
  -ms-transform: rotateY(-55deg) scale(0.75);
  transform: rotateY(-55deg) scale(0.75);
}

/* line 105, ../sass/jquery.flipster.scss */
.flipster-coverflow.no-rotate .flip-past .flip-content {
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}

/* line 112, ../sass/jquery.flipster.scss */
.flipster-coverflow.no-rotate .flip-future .flip-content {
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}

/* line 121, ../sass/jquery.flipster.scss */
.flipster-coverflow .flip-current .flip-content {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* line 128, ../sass/jquery.flipster.scss */
.flipster-coverflow .flip-hidden {
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}

/* @end */
/* @group Flip Items */
/* line 136, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-items {
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

/* line 141, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-item {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}

/* line 153, ../sass/jquery.flipster.scss */
.no-csstransforms .flipster-carousel .flip-item {
  -webkit-transition: none;
  transition: none;
}

/* line 160, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-items img {
  box-shadow: 0 0 10px transparent;
}

/* line 167, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-past {
  -webkit-transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
  -ms-transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
  transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
}

/* line 174, ../sass/jquery.flipster.scss */
.flipster-carousel.no-rotate .flip-past {
  -webkit-transform: translateX(-80%) translateZ(0) scale(0.65);
  -ms-transform: translateX(-80%) translateZ(0) scale(0.65);
  transform: translateX(-80%) translateZ(0) scale(0.65);
}

/* line 181, ../sass/jquery.flipster.scss */
.no-csstransforms3d .flipster-carousel .flip-past {
  -webkit-transform: translateX(-56%) scale(0.5);
  -ms-transform: translateX(-56%) scale(0.5);
  transform: translateX(-56%) scale(0.5);
}

/* line 188, ../sass/jquery.flipster.scss */
.no-csstransforms .flipster-carousel .flip-past {
  left: -20%;
  top: 40%;
  width: 50%;
  height: 50%;
}

/* line 194, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-future {
  -webkit-transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
  -ms-transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
  transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
}

/* line 202, ../sass/jquery.flipster.scss */
.flipster-carousel.no-rotate .flip-future {
  -webkit-transform: translateX(80%) translateZ(0) scale(0.65);
  -ms-transform: translateX(80%) translateZ(0) scale(0.65);
  transform: translateX(80%) translateZ(0) scale(0.65);
}

/* line 210, ../sass/jquery.flipster.scss */
.no-csstransforms3d .flipster-carousel .flip-future {
  -webkit-transform: translateX(56%) scale(0.5);
  -ms-transform: translateX(56%) scale(0.5);
  transform: translateX(56%) scale(0.5);
}

/* line 217, ../sass/jquery.flipster.scss */
.no-csstransforms .flipster-carousel .flip-future {
  left: 88%;
  top: 40%;
  width: 50%;
  height: 50%;
}

/* line 223, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-prev {
  -webkit-transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
  -ms-transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
  transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
}

/* line 230, ../sass/jquery.flipster.scss */
.flipster-carousel.no-rotate .flip-prev {
  -webkit-transform: translateX(-60%) translateZ(0) scale(0.8);
  -ms-transform: translateX(-60%) translateZ(0) scale(0.8);
  transform: translateX(-60%) translateZ(0) scale(0.8);
}

/* line 237, ../sass/jquery.flipster.scss */
.no-csstransforms3d .flipster-carousel .flip-prev {
  -webkit-transform: translateX(-24%) scale(0.75);
  -ms-transform: translateX(-24%) scale(0.75);
  transform: translateX(-24%) scale(0.75);
}

/* line 244, ../sass/jquery.flipster.scss */
.no-csstransforms .flipster-carousel .flip-prev {
  left: -9%;
  top: 20%;
  width: 75%;
  height: 75%;
}

/* line 250, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-next {
  -webkit-transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
  -ms-transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
  transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
}

/* line 257, ../sass/jquery.flipster.scss */
.flipster-carousel.no-rotate .flip-next {
  -webkit-transform: translateX(60%) translateZ(0) scale(0.8);
  -ms-transform: translateX(60%) translateZ(0) scale(0.8);
  transform: translateX(60%) translateZ(0) scale(0.8);
}

/* line 265, ../sass/jquery.flipster.scss */
.no-csstransforms3d .flipster-carousel .flip-next {
  -webkit-transform: translateX(24%) scale(0.75);
  -ms-transform: translateX(24%) scale(0.75);
  transform: translateX(24%) scale(0.75);
}

/* line 272, ../sass/jquery.flipster.scss */
.no-csstransforms .flipster-carousel .flip-next {
  left: 39%;
  top: 20%;
  width: 75%;
  height: 75%;
}

/* line 279, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-past,
.flipster-carousel .flip-future {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  z-index: 1;
  -webkit-transition-delay: 87.5ms;
  transition-delay: 87.5ms;
}

/* line 290, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-prev,
.flipster-carousel .flip-next {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  z-index: 2;
  -webkit-transition-delay: 58.333333333333336ms;
  transition-delay: 58.333333333333336ms;
}

/* line 300, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-current {
  z-index: 999;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition-delay: 58.333333333333336ms;
  transition-delay: 58.333333333333336ms;
}

/* line 312, ../sass/jquery.flipster.scss */
.flipster-carousel .flip-hidden {
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: rotateY(0deg) translateX(0) scale(0.5);
  -ms-transform: rotateY(0deg) translateX(0) scale(0.5);
  transform: rotateY(0deg) translateX(0) scale(0.5);
  -webkit-transition-delay: 116.66666666666667ms;
  transition-delay: 116.66666666666667ms;
}

/* @end */
/* line 328, ../sass/jquery.flipster.scss */
.no-transition {
  -webkit-transition-duration: 0ms !important;
  transition-duration: 0ms !important;
}

/* @end */
body {
  background: snow;
}

hr {
  border-color: #fff !important;
  width: 660px;
}

strong {
  font-weight: bold;
}

ul li {
  font-size: 15px !important;
  line-height: 1.6 !important;
}

.left {
  width: 100%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}

#wrapper {
  margin-top: 60px;
  position: relative;
  width: 770px;
  padding: 4px;
}

/* web-tv */
#web-tv-container {
  margin: 0 auto;
  width: 660px;
  padding: 0;
  height: auto;
}

#web-tv-header {
  margin: 60px 0;
  height: auto;
  text-align: center;
}

#web-tv-lg-container {
  margin: 30px auto 60px;
  position: relative;
  width: 660px;
  height: 358px;
  overflow: hidden;
}

.hover-container {
  margin-top: 300px;
  cursor: pointer;
  height: 80px;
  display: block;
}

.hover-div {
  width: 660px;
  height: 125px;
  position: absolute;
  bottom: -35px;
  z-index: 2;
  background-image: url("http://www.youravon.com/REPSuite/static/images/web_tv/hover_main_gradient_updated.png");
  background-position: 0px 0px;
}

.header-container {
  margin-top: -23px;
}

.hover-header {
  margin: 50px 0px 100px 30px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  line-height: 20px !important;
  color: #fff;
  text-align: left;
  -webkit-font-smoothing: antialiased !important;
}
.hover-header span {
  color: #ec008c;
}

.hover-subheader {
  position: absolute !important;
  top: 140px;
  margin: -55px 0px 25px 30px !important;
  font-size: 30px !important;
  font-family: Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-style: italic;
  color: #ec008c;
  text-align: left;
  -webkit-font-smoothing: antialiased !important;
  text-decoration: none;
}

.small-image-container-left {
  position: relative;
  margin: 0 0 30px 0;
  float: left;
  width: 320px;
  height: 190px;
  overflow: hidden;
}

.small-image-container-right {
  position: relative;
  margin: 0 0 30px 0;
  float: right;
  width: 320px;
  height: 190px;
  overflow: hidden;
}

.hover-container-small {
  margin-top: 160px;
  width: 320px;
  height: 41px;
  cursor: pointer;
  display: block;
}

.hover-div-small {
  position: absolute;
  bottom: -27px;
  z-index: 2;
  width: 320px;
  height: 90px;
  background-image: url("http://www.youravon.com/REPSuite/static/images/web_tv/hover_small_gradient_updated.png");
  background-repeat: no-repeat;
}

.hover-header-small {
  margin: 20px 0px 100px 30px;
  font-size: 11px;
  line-height: 13px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  color: #fff;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 2px 2px #2b2a2a6;
}
.hover-header-small span {
  color: #ec008c;
}

.hover-subheader-small {
  margin: -83px 0px 25px 30px !important;
  font-size: 18px !important;
  font-family: Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-style: italic;
  color: #ec008c;
  text-align: left;
  -webkit-font-smoothing: antialiased !important;
  text-decoration: none;
  text-shadow: 0px 2px 2px #2b2a2a6;
}

.hover-subheader-small-alt {
  margin: -90px 0px 25px 30px !important;
  font-size: 18px !important;
  font-family: Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-style: italic;
  color: #ec008c;
  text-align: left;
  -webkit-font-smoothing: antialiased !important;
  text-decoration: none;
  text-shadow: 0px 2px 2px #2b2a2a6;
}

.header-container-small {
  position: absolute;
  margin-top: -40px;
}

/*flipster*/
#flipster {
  margin: 60px auto 50px !important;
}

.flipster {
  position: relative !important;
  margin: 30px auto 50px !important;
  clear: both;
}

.flipster-image-width-height {
  width: 161px !important;
  height: 222px !important;
}

.flipster .flipto-prev {
  top: 18% !important;
  margin-left: -65px !important;
}

.flipster .flipto-next {
  top: 18% !important;
  margin-right: -65px !important;
}

.flipster .flipto-prev {
  left: 100px;
}

.flipster .flipto-next {
  right: 100px;
}

.button-primary.block {
  margin: 60px auto;
  width: 50%;
  display: block;
}

/* easy-tabs */
/* Example Styles for Demo */
.etabs {
  margin: 0;
  padding: 0;
  width: 770px;
}

.tab {
  width: 128px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  padding-left: 1px;
  padding-right: 1px;
  *display: inline;
  background: #eee;
  border: solid 1px #999;
  border-bottom: none;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.tab a {
  font-size: 14px;
  line-height: 1em;
  display: block;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: Times, Times New Roman, serif;
  font-weight: lighter;
  font-style: italic;
}

.tab a:hover {
  text-decoration: none;
}

.tab-container {
  width: 770px;
}

.tab-container .panel-container {
  background: #fff;
  border: solid #CCC 1px;
  padding: 0px;
  border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
}

.panel-container {
  margin-top: -3px;
  padding-top: 20px;
  margin-bottom: 10px;
  border: solid #CCC 1px;
}

.tab.active {
  background: #fff;
  padding-top: 1px;
  position: relative;
  border-color: #CCC;
}

.active {
  padding-bottom: 1px;
  opacity: 1 !important;
  background-color: #fff;
  border-color-bottom: #fff;
}

.inactive {
  opacity: .6;
  width: 120px;
  height: 127px;
}

#tabs1-1,
#tabs1-2,
#tabs1-3,
#tabs1-4,
#tabs1-5,
#tabs1-6 {
  height: 500px !important;
  position: relative !important;
}

#tabs1-1 {
  background: url("http://www.youravon.com/REPSuite/static/images/anew/2in1_gel_cleanser_temp.jpg") no-repeat center center;
}

#tabs1-2 {
  background: url("http://www.youravon.com/REPSuite/static/images/anew/moisturizer_temp.jpg") no-repeat center center;
}

#tabs1-3 {
  background: url("http://www.youravon.com/REPSuite/static/images/anew/protective_shave_gel_temp.jpg") no-repeat center center;
}

#tabs1-4 {
  background: url("http://www.youravon.com/REPSuite/static/images/anew/2in1_shave_balm_temp.jpg") no-repeat center center;
}

#tabs1-5 {
  background: url("http://www.youravon.com/REPSuite/static/images/anew/daily_moisturizer_temp.jpg") no-repeat 315px center;
}

#tabs1-6 {
  background: url("http://www.youravon.com/REPSuite/static/images/anew/daily_eye_treatment_temp.jpg") no-repeat center center;
}

.hero {
  position: relative;
  margin: 0 auto;
  display: block;
}

.product-description-left {
  margin-top: 130px;
  margin-left: 45px;
  width: 270px;
}

.product-description-right {
  margin-top: 130px;
  margin-right: 30px;
  width: 270px;
  float: right;
}

.product-title {
  font-family: Times, Times New Roman, serif;
  font-style: italic;
  font-size: 20px !important;
  margin-bottom: 20px;
  color: #ec008c;
}

p {
  font-family: Arial, Helvetica, sans-serif !important;
  line-height: 25px !important;
}

.promo-modules {
  margin: 120px auto;
  width: 755px;
  height: 338px;
  background-color: white;
  border: 1px solid #e6e6e8;
}
.promo-modules h2 {
  margin: 50px 0 0 20px;
  font-style: italic !important;
  font-family: Times, Times New Roman, serif;
  font-weight: lighter !important;
  color: #ed008c !important;
  font-size: 34px;
  line-height: 40px !important;
  /* override for usec */
}
.promo-modules p {
  margin: 10px 0 0 20px;
}
.promo-modules .button-primary {
  margin-top: 29px;
  padding: 12px 35px;
  font-size: 17px;
  margin-left: 20px;
}

.promo-modules-image {
  margin-top: 21px;
  margin-right: 16px;
  float: right !important;
  /* changing float, changes orientation */
}

header {
  position: relative;
  width: 500px;
}
header h1 {
  margin: 100px 0 0 50px;
  display: inline-block;
  font-style: italic;
  font-size: 90px;
  font-weight: lighter;
  color: #EC008C;
  width: 50px;
}
header h2 {
  position: absolute;
  top: 100px;
  left: 100px;
  display: inline-block;
  font-style: italic;
  font-size: 35px !important;
  font-weight: lighter !important;
  color: #EC008C !important;
  line-height: 40px !important;
}

.generic-promo {
  height: 100%;
  width: 50%;
}
.generic-promo span p {
  margin: 30px 0 0 100px !important;
}
.generic-promo p {
  margin: 10px 0 0 100px !important;
}
.generic-promo ul {
  margin: 10px 0 0 100px !important;
}

#wrapper .advanced-leadership {
  margin: 0 auto;
  width: 547px;
  display: block;
}

#wrapper a.al-btn {
  margin: 12px auto 60px;
  width: 187px;
  height: 37px;
  padding: 0;
  display: table;
}
#wrapper a.al-btn span {
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
  font-size: 17px;
}

#wrapper a.al-btn {
  margin: 12px auto 60px;
  width: 187px;
  height: 37px;
  padding: 0;
  display: table;
}
#wrapper a.al-btn span {
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
  font-size: 17px;
}

.row {
  margin-top: 17px !important;
}

#wrapper .tools-incentives {
  margin-left: 50px;
}
#wrapper .tools-incentives a {
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif !important;
}
#wrapper .tools-incentives img {
  position: relative;
  top: 13px;
}



/*# sourceMappingURL=main.css.map */