#modal {
    height: 250px;
    width: 70%;
    max-width: 500px;
    margin: 40% auto;
    padding: 0 10px;
    background: #fff;
    border-radius: 5px;
    z-index: 50000;
    text-align: center;
    display: table;
    /* optional, just for the demo */
    height: 200px;
    //screen
    //iphone: $orientation:portrait
    @include iphone3($orientation: portrait) {
        margin-top: 100px;
        padding-top: 10px;
        width: 90%;
        height: 200px;
    }
    @include iphone4($orientation:portrait) {
        margin-top: 100px;
        padding-top: 10px;
        width: 90%;
        height: 200px;
    }
    @include iphone5($orientation:portrait) {
        margin-top: 100px;
        padding-top: 10px;
        width: 90%;
        height: 200px;
    }
    @include iphone6($orientation:portrait) {
        margin-top: 100px;
        padding-top: 10px;
        width: 90%;
        height: 200px;
    }
    @include iphone6-plus($orientation:portrait) {
        margin-top: 100px;
        padding-top: 10px;
        width: 90%;
        height: 200px;
    }
    //iphone: $orientation:landscape
    @include iphone3($orientation:landscape) {
        margin-top: 40px;
        padding-top: 20px;
        height: 200px;
    }
    @include iphone4($orientation:landscape) {
        margin-top: 40px;
        padding-top: 20px;
        height: 200px;
    }
    @include iphone5($orientation:landscape) {
        margin-top: 40px;
        padding-top: 20px;
        height: 200px;
    }
    @include iphone6($orientation:landscape) {
        margin-top: 40px;
        padding-top: 20px;
        height: 200px;
    }
    @include iphone6-plus($orientation:landscape) {
        margin-top: 40px;
        padding-top: 20px;
        height: 200px;
    }
    p {
        display: table-cell;
        vertical-align: middle;
        padding: 5px 15px 0;
    }
    .modal-button {
        margin: 20px auto 5px;
    }
}

.modal-animation {
    @include bounceIn();
}
