<script id="templateID" type="text/html">
    <div id="overlay">
        <div id="container" class="container">
            <div class="row">
                <div class="twelve columns">
                   <div class="modal-container">
                        <div id="modal" class="modal-animation">
                            <p>This app will go through some of your markup to determmine if it could be more accessible.  We will start by checking the alt tags on your images, seeing if they exist, or if the tags are empty! <br> Lets get started!<br>
                            <a id="getStartedBtn" class="button button-primary modal-button">lets get started!</a>
                            </p>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</script>
