<!-- template
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" src="/public/js/main.js"></script>
    <script type="text/template" id="templateID">
        <div class="contentWrapper">
            <div class="container">
                <div class="row">
                    <div class="one-half column">
                        <div id="templateContainer"></div>
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script>
    var data = {
        "field1": "some text data",
        "field2": 100,
        "field3": "some other string"
    }

    var tlContent = document.getElementById('templateID').innerHTML,
        result = Mustache.render(tlContent, data),
        templateContainer = document.getElementById('templateContainer');
        templateContainer.innerHTML = result;
    </script>
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
